.DS_Store
.Trash-0
*/.DS_Store
*.ipynb_checkpoints
data/train/*.tif
data/test/*.tif	
*.png
*.tif

code/data/*

!ECAbatch_0_image.png
!ECAbatch_1_image.png
!ECAbatch_2_image.png
!ECAbatch_3_image.png
!ECAbatch_4_image.png

!SE_batch_0_image.png
!SE_batch_1_image.png
!SE_batch_2_image.png
!SE_batch_3_image.png
!SE_batch_4_image.png

!ECA_vs_SE_batch_0.png
!ECA_vs_SE_batch_1.png
!ECA_vs_SE_batch_2.png
!ECA_vs_SE_batch_3.png
!ECA_vs_SE_batch_4.png